.about
{
	margin-top: 10%
}

.contact
{
	margin-top: 10%
}

.register
{
	margin-top: 10%
}

.login
{
	margin-top: 10%;
	margin-left: 35%;
	color: #fff;
	width: 100%;

}

.well
{
	background-color: rgba(245, 245, 245, 0.9);
}
